
body {
  font-family: Roboto,Arial,Helvetica,sans-serif;
  margin: 0;
}

#header {
  background: dimgray;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#header h1 {
  padding-left: .25em;
  font-size: 45px;
  line-height: 1.29;
}

#nav-buttons {
  padding-right: .25em;
}

#filter-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
  }
  
  #vegan-filter {
    margin-top: 1vh;
    width: 35vw;
    font-size: 1em;
    height: 5vh;
    border-radius: 3em;
  }

  #buttons{
    display:flex;
    justify-content: space-between;
    background: skyblue;
    padding:0 1em 1em 1em;
  }

  #recipe-bar {
    background: skyblue;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #recipe-bar span {
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5em;
    border: 1px solid blue; */
  }

  #recipe-bar span img{
    max-width: 75%;
    max-height: 75%;
    padding-left: 1em;
  }

  #recipe-summary-container {
    height: 35vh;
    text-align: center;
  }
  
  #recipe-info {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  #recipe-info img {
    max-width: 75vw;
    max-height: 25vw;
  }

  #meal-plan{
    height: 15%;
    width: auto;
    background: lemonchiffon;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
